In [1]:
# Dependencies
# Dependencies
import pandas as pd
import numpy as np
import requests
import json

# Google API Key
from config import gkey
gkey

'AIzaSyBL8ahyFy8MhoDCjB1wwwb0m3i2cVBBulE'

In [2]:
types_df = pd.read_csv("ethnic_restr.csv")
types_df.head()

  ethnicity
0   chinese
1     cuban
2     czech
3    french
4    german

In [ ]:
# set up additional columns to hold information

types_df['name'] = ""
types_df['address'] = ""
types_df['price_level'] = ""
types_df['rating'] = ""

types_df.head()

  ethnicity name address price_level rating
0   chinese
1     cuban
2     czech
3    french
4    german

In [ ]:
# find the closest restaurant of each type to coordinates

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "location": "33.973951,-118.24841",  # zip_code 90001 coords,
    "rankby": "distance",
    "type": "restaurant",
    "key": gkey,
}
# use iterrows to iterate through pandas dataframe
for index, row in types_df.iterrows():

    # get restaurant type from df
    restr_type = row['ethnicity']

    # add keyword to params dict
    params['keyword'] = restr_type

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {restr_type}.")
    response = requests.get(base_url, params=params).json()
    results = response.get('results')
    #print(results)
    
    # extract first result and use pd.set_value to insert into dataframe
    results = response.get('results')
    if (results):
        restr = response['results'][0]
        print(f"Closest {restr_type} restaurant is {restr.get('name', 'Unknown')}.")
        types_df.loc[index, 'name'] = restr.get('name', '')
        types_df.loc[index, 'address'] = restr.get('vicinity', '')
        types_df.loc[index, 'price_level'] = restr.get('price_level', '')
        types_df.loc[index, 'rating'] = restr.get('rating', '')
    else:
        print("No results for " + restr_type)
    print("------------")

Retrieving Results for Index 0: chinese.
Closest chinese restaurant is Rooster Kitchen.
------------
Retrieving Results for Index 1: cuban.
Closest cuban restaurant is El Colmao.
------------
Retrieving Results for Index 2: czech.
Closest czech restaurant is Milan's Grill.
------------
Retrieving Results for Index 3: french.
Closest french restaurant is La Villa Basque.
------------
Retrieving Results for Index 4: german.
Closest german restaurant is Wurstk√ºche Restaurant.
------------
Retrieving Results for Index 5: greek.
Closest greek restaurant is George's Greek Grill.
------------
Retrieving Results for Index 6: haitian.
Closest haitian restaurant is Tam's Burgers.
------------
Retrieving Results for Index 7: hungarian.
Closest hungarian restaurant is TOMGEORGE Restaurant.
------------
Retrieving Results for Index 8: indian.
Closest indian restaurant is Taste of India.
------------
Retrieving Results for Index 9: indonesian.
Closest indonesian restaurant is Kasih.
------------
Retrieving Results for Index 10: irish.
Closest irish restaurant is Pupuseria Restaurant Mi Pueblo.
------------
Retrieving Results for Index 11: israeli.
Closest israeli restaurant is The Exchange Restaurant.
------------
Retrieving Results for Index 12: italian.
Closest italian restaurant is Numero Uno Rancho 9.
------------
Retrieving Results for Index 13: japanese.
Closest japanese restaurant is Casa Noodle Teriyaki.
------------
Retrieving Results for Index 14: jewish.

In [ ]:
types_df