In [1]:
# Dependencies
# Dependencies
import pandas as pd
import numpy as np
import requests
import json

# Google API Key
from config import gkey
gkey

'AIzaSyBL8ahyFy8MhoDCjB1wwwb0m3i2cVBBulE'

In [2]:
types_df = pd.read_csv("ethnic_restr.csv")
types_df.head()

  ethnicity
0   chinese
1     cuban
2     czech
3    french
4    german

In [8]:
new_city=pd.read_csv("new_city_with_price.csv",index_col=0)
new_city.head()

  RegionName State   CountyName  2018-05  zip_code   latitude   longitude
0   Pasadena    CA  Los Angeles   921500     90001  33.973951 -118.248405
1   Pasadena    CA  Los Angeles   921500     90002  33.950514 -118.245855
2   Pasadena    CA  Los Angeles   921500     90003  33.949164 -118.273156
3   Pasadena    CA  Los Angeles   921500     90004  33.786594 -118.298662
4   Pasadena    CA  Los Angeles   921500     90005  33.786594 -118.298662

In [4]:
# find the closest restaurant of each type to coordinates

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
   # "location": "34.014613,-118.225606",  # zip_code 90001 coords,
    "rankby": "distance",
    "type": "restaurant",
    "key": gkey,
}
# use iterrows to iterate through pandas dataframe
for index, row in new_city.iterrows():

    # get restaurant type from df
    lat = row['latitude']
    lon=row['longitude']

    # add keyword to params dict
    params['keyword'] = restr_type

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {restr_type}.")
    response = requests.get(base_url, params=params).json()
    results = response.get('results')
    #print(results)
    
    # extract first result and use pd.set_value to insert into dataframe
    results = response.get('results')
    if (results):
        restr = response['results'][0]
        print(f"Closest {restr_type} restaurant is {restr.get('name', 'Unknown')}.")
        types_df.loc[index, 'name'] = restr.get('name', '')
        types_df.loc[index, 'address'] = restr.get('vicinity', '')
        types_df.loc[index, 'price_level'] = restr.get('price_level', '')
        types_df.loc[index, 'rating'] = restr.get('rating', '')
    else:
        print("No results for " + restr_type)
    print("------------")

Retrieving Results for Index 0: chinese.
Closest chinese restaurant is ABC Express Chinese Food.
------------
Retrieving Results for Index 1: cuban.
Closest cuban restaurant is Los Tostones.
------------
Retrieving Results for Index 2: czech.
Closest czech restaurant is Polka Polish Cuisine.
------------
Retrieving Results for Index 3: french.
Closest french restaurant is La Villa Basque.
------------
Retrieving Results for Index 4: german.
Closest german restaurant is Wurstküche Restaurant.
------------
Retrieving Results for Index 5: greek.
Closest greek restaurant is The Green Olive.
------------
Retrieving Results for Index 6: haitian.
Closest haitian restaurant is Joe K's Deli.
------------
Retrieving Results for Index 7: hungarian.
Closest hungarian restaurant is TOMGEORGE Restaurant.
------------
Retrieving Results for Index 8: indian.
Closest indian restaurant is Taste of India.
------------
Retrieving Results for Index 9: indonesian.
Closest indonesian restaurant is Kasih.
------------
Retrieving Results for Index 10: irish.
Closest irish restaurant is Casey's Irish Pub.
------------
Retrieving Results for Index 11: israeli.
Closest israeli restaurant is The Holy Grill Food Truck.
------------
Retrieving Results for Index 12: italian.
Closest italian restaurant is Trattoria 25.
------------
Retrieving Results for Index 13: japanese.
Closest japanese restaurant is Lucas Lee Japanese Cuisine Restaurant.
------------
Retrieving Results for Index 14: jewish.
Closest jewish restaurant is Cohen Restaurant.
------------
Retrieving Results for Index 15: korean.
Closest korean restaurant is Manna Korean BBQ.
------------
Retrieving Results for Index 16: lebanese.
Closest lebanese restaurant is 10e Restaurant.
------------
Retrieving Results for Index 17: mexican.
Closest mexican restaurant is El Borrego De Oro Restaurant.
------------
Retrieving Results for Index 18: new american.
Closest new american restaurant is Super Lunch.
------------
Retrieving Results for Index 19: pakistani.
Closest pakistani restaurant is Tamarind Of LA.
------------
Retrieving Results for Index 20: polish.
Closest polish restaurant is Link N Hops.
------------
Retrieving Results for Index 21: russian.
Closest russian restaurant is Kavkaz.
------------
Retrieving Results for Index 22: scandinavian.
Closest scandinavian restaurant is Olsons Scandinavian Delicatessen & Cafe.
------------
Retrieving Results for Index 23: scottish.
No results for scottish
------------
Retrieving Results for Index 24: soul food.
Closest soul food restaurant is Comfort LA.
------------
Retrieving Results for Index 25: spanish.
Closest spanish restaurant is Bäco Mercat.
------------
Retrieving Results for Index 26: thai.
Closest thai restaurant is Thai Silk Restaurant.
------------
Retrieving Results for Index 27: turkish.
Closest turkish restaurant is Spitz - Little Tokyo.
------------
Retrieving Results for Index 28: ukrainian.
Closest ukrainian restaurant is Robert's Russian Cuisine.
------------
Retrieving Results for Index 29: vietnamese.
Closest vietnamese restaurant is Blossom Restaurant.
------------

In [5]:
types_df

,ethnicity,name,address,price_level,rating
0,chinese,ABC Express Chinese Food,"1907 Alameda St, Vernon",,3.1
1,cuban,Los Tostones,"2881 E Gage Ave, Huntington Park",,5
2,czech,Polka Polish Cuisine,"4112 Verdugo Rd, Los Angeles",2,4.4
3,french,La Villa Basque,"2801 Leonis Blvd, Vernon",2,3.2
4,german,Wurstküche Restaurant,"800 E 3rd St, Los Angeles",2,4.6
5,greek,The Green Olive,"3632 S Soto St, Vernon",,4.2
6,haitian,Joe K's Deli,"2601 S Soto St, Vernon",1,4.2
7,hungarian,TOMGEORGE Restaurant,"707 S Grand Ave, Los Angeles",3,4.2
8,indian,Taste of India,"5937 State St, Huntington Park",,4.2
9,indonesian,Kasih,"200 S Los Angeles St, Los Angeles",,4.6
10,irish,Casey's Irish Pub,"613 S Grand Ave, Los Angeles",2,4.3
11,israeli,The Holy Grill Food Truck,"120 E 15th St, Los Angeles",2,4.6
12,italian,Trattoria 25,"2501 S Santa Fe Ave, Vernon",,4.4
13,japanese,Lucas Lee Japanese Cuisine Restaurant,"3616 S Soto St, Vernon",,5
14,jewish,Cohen Restaurant,"2589, 316 E Pico Blvd, Los Angeles",2,4.4
15,korean,Manna Korean BBQ,"333 Alameda St #305, Los Angeles",2,4.1
16,lebanese,10e Restaurant,"811 W 7th St, Los Angeles",,4.2
17,mexican,El Borrego De Oro Restaurant,"2808 E Washington Blvd, Los Angeles",2,4
18,new american,Super Lunch,"2800 S Santa Fe Ave, Vernon",,5
19,pakistani,Tamarind Of LA,"934 S Los Angeles St, Los Angeles",,4.2
20,polish,Link N Hops,"3111 Glendale Blvd, Los Angeles",1,4.5
21,russian,Kavkaz,"5341 CA-2, Los Angeles",,4.4
22,scandinavian,Olsons Scandinavian Delicatessen & Cafe,"5660 Pico Blvd, Los Angeles",,4.7
23,scottish,,,,
24,soul food,Comfort LA,"1110 E 7th St, Los Angeles",,4.5
25,spanish,Bäco Mercat,"408 S Main St, Los Angeles",2,4.4
26,thai,Thai Silk Restaurant,"1300 S Soto St, Los Angeles",,5
27,turkish,Spitz - Little Tokyo,"371 E 2nd St, Los Angeles",2,4.4
28,ukrainian,Robert's Russian Cuisine,"1603 N La Brea Ave, Los Angeles",2,4.5
29,vietnamese,Blossom Restaurant,"426 S Main St, Los Angeles",2,4.2

In [6]:
types_df.to_csv('type_rest1.csv')